# google cloud
GCP_PROJECT_ID=your-gcp-project-id
GCP_SA_KEY_PATH=secrets/gcp-sa-key.json
# google cloud storage
GCP_BUCKET_NAME=your-gcs-bucket-name
# spark
SPARK_GCS_JAR_PATH=spark/jars/gcs-connector-hadoop3-latest.jar
# big query
BQ_STAGING_DATASET=stockpulse_staging
BQ_MARTS_DATASET=stockpulse_marts
# airflow
AIRFLOW_UID=50000
AIRFLOW__API_AUTH__JWT_SECRET=change-me-to-a-random-secret-string
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=change-me
